@use 'base/variables' as v;
// @mixin ScreenSize($BreakPoint) {
//     @media (min-width: $BreakPoint) {
//         @content;
//     }
// }

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin Grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin Flex($display, $justify, $align, $direction: row) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}