@use 'variables' as v;

/**Globales**/
html {
     font-size: 62.5%;
     box-sizing: border-box;
     scroll-padding-top: 0rem;
 }
 *, 
 *:before,
 *:after {
     box-sizing: inherit;
 }

body {
     font-family: v.$FuentePrincipal;
     font-optical-sizing: auto;
     font-style: normal;
     color: v.$Cnegro;
     font-size: 2rem;

     &.fijar-body {
          overflow: hidden;
     }
}

p {
     font-size: 2rem;
     line-height: 1.5;
     color: v.$Cnegro;
}

.contenedor {
     max-width: 120rem;
     width: 95%;
     margin: 0 auto;
}

a {
     text-decoration: none;
}

@for $i from 1 through 3 {
     h#{$i} {
          font-size: nth(v.$Heading-size, $i);
          font-weight: nth(v.$Heading-weight, $i);
          margin: 0 0 5rem 0;

          @if $i == 3 {
               text-align: center;
             }
     }
}

img {
     max-width: 100%;
     width: 100%;
     height: auto;
     display: block;
}
body > section {
     padding: 10rem 0
 }