//Fuentes
$FuentePrincipal: 'Montserrat', sans-serif;
$Fdelgada: 300;
$Fregular: 400;
$Fbold: 700;
$Fblack: 900;
$Heading-size: (4rem, 3.6rem, 3rem);
$Heading-weight: ($Fblack, $Fblack, $Fregular);
//colores
$Cverde: rgb(76, 184, 179);
$Crosa: rgb(245, 55, 86);
$Camarillo: rgb(254, 244, 109);
$Cmorado: rgb(117, 47, 151);
$Cnegro: rgb(0, 0, 0);
$Cblanco: rgb(255, 255, 255);
//MediaQueries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//Separaciones
$Separacion: 5rem;
