@use "base/variables" as v;
@use "sass:math";
@use 'components/util' as u;

.contenedor_boletos {
    background-color: v.$Cverde;
    h3 {
        color: v.$Cblanco;
    }

    .boletos {
        @include u.contenedor;
        @include u.tablet {
            @include u.Grid(2, v.$Separacion);
        }
    }
}

.pase {
    transition: transform .3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }

    &_nombre {
        font-size: 3.6rem;
        font-weight: v.$Fblack;
        text-align: center;
        color: v.$Cblanco;
    }
    &_header,
    &_footer {
        padding: .5rem;

        p {
            text-align: center;
            color: v.$Cblanco;
            margin: 0;
        }
    }
    &_header {
        background-color: v.$Crosa;
        p {
            text-transform: uppercase;
            font-size: 2.2rem;
            padding: 1rem 0;
        }
    }
    &_body {
        background-color: v.$Cblanco;
        ul {
            @include u.resetear-lista;
            
            li {
                padding: 2rem;
                border-bottom: 1px solid rgb(225, 225, 225);;
            }
        }
    }
    &_footer {
        background-color: v.$Cblanco;
        padding: 3rem;

        p {
            font-size: 2.8rem;
            font-weight: 900;
            background-color: v.$Cmorado;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            &:hover {
                background-color: darken(v.$Cmorado, 20);
            }
        }
    }
}