@use "base/variables" as v;
@use "sass:math";
@use 'components/util' as u;
.boletos {
     padding: v.$Separacion 0;
     h3 {
         text-align: center;
         color: v.$Cblanco;
     }
 
     .contenedor-boletos {
         margin-top: math.div(v.$Separacion, 2);
         @include u.Grid(2, v.$Separacion);
     }
 
     .plan {
         p {
             color: v.$Cblanco;
             font-size: 3rem;
             text-align: center;
             margin-bottom: 2rem;
         }
     }
 }
 
 .pase {
     width: 100%;
     border-spacing: 0;
     thead {
         background-color: v.$Crosa;
         th {
             padding: math.div(v.$Separacion, 4);
             color: v.$Cblanco;
             text-transform: uppercase;
             font-weight: v.$Fdelgada;
             font-size: 2rem;
         }
     }
     tbody {
         background-color: v.$Cblanco;
 
         td {
             padding: math.div(v.$Separacion, 4);
             border-bottom: 1px solid rgb(225, 225, 225);
         }
 
         tr {
             &:last-of-type {
                 td {
                     border:none;
                 }
             }
         }
     }
     tfoot {
         background-color: v.$Cmorado;
 
         td {
             padding: math.div(v.$Separacion, 4);
             text-align: center;
             font-size: 3rem;
             color: v.$Cblanco;
         }
     }
 }