@use "base/variables" as v;
@use 'components/util' as u;
.sobre-festival {
     @include u.contenedor;
     @include u.tablet {
          @include u.Grid(2, v.$Separacion);
     }
}

.contenido-festival {
     margin-top: v.$Separacion;
     h2 {
          margin-bottom: 2rem;
     }

     .fecha {
          color: v.$Crosa;
          font-weight: v.$Fbold;
     }
}