@use "base/variables" as v;
@use 'components/util' as u;
.sobre-festival {
     padding: v.$Separacion 0;

     @include u.tablet {
          @include u.Grid(2, v.$Separacion);
     }
}

.contenido-festival {
     display: flex;
     flex-direction: column;
     justify-content: center;
     h2 {
          font-size: 3rem;
     }

     .fecha {
          color: v.$Crosa;
          font-weight: v.$Fbold;
     }

     .texto {
          line-height: 1.5;
     }
}