@use "base/variables" as v;
@use "sass:math";
.footer {
     background-color: v.$Crosa;
     padding:  2rem 0;

     p {
         color: v.$Cblanco;
         margin: 0;
         text-align: center;
     }
 }