@use "base/variables" as v;
@use "sass:math";
.footer {
     background-color: v.$Crosa;
     padding: math.div(v.$Separacion, 4);
     text-align: center;
 
     p {
         color: v.$Cblanco;
         margin: 0;
     }
 }