@use "base/variables" as v;
@use "sass:math";
@use 'components/util' as u;

.galeria{
     padding: v.$Separacion 0;
     h3{
          text-align: center;
     }
     &-imagenes{
          padding: 0;
          list-style-type: none;
          margin-top: v.$Separacion;
          @include u.Grid (2, v.$Separacion);
          @include u.tablet {
               @include u.Grid (4, math.div(v.$Separacion,2))  
          }
          @include u.desktop {
               @include u.Grid (6, math.div(v.$Separacion,2))  
          }
     }
}
.overlay {
     position: fixed;
     background-color: rgba(0,0,0,.5);
     width: 100%;
     height: 100%;
     top: 0;
     display: grid;
     place-items: center;
     img{
          @include u.desktop{
              width: min(50%, 90%);
          }
      }
 }
 
 .btn-cerrar {
     width: 5rem;
     height: 5rem;
     background-color: v.$Cblanco;
     display: grid;
     place-items: center;
     font-weight: v.$Fblack;
     font-size: 3rem;
     border-radius: 50%;
 
     &:hover {
         cursor: pointer;
     }
 }