@use "base/variables" as v;
@use "sass:math";
@use "components/util" as u;

.galeria {
  @include u.contenedor;
  &-imagenes {
    @include u.Grid(1, 2rem);
    @include u.telefono {
      @include u.Grid(2, 2rem);
    }
    @include u.tablet {
      @include u.Grid(3, 2rem);
    }
    @include u.desktop {
      @include u.Grid(4, 2rem);
    }
    img {
      height: 20rem;
      object-fit: cover;
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(v.$Cnegro, 0.5);
  display: grid;
  place-items: center;
  animation: fadeIn ease-in 0.5s;
  &.fade-out {
    animation: fadeOut ease-in 0.5s;
  }

  img {
    max-width: 100rem;
  }
}

.btn-cerrar {
  width: 4rem;
  height: 4rem;
  background-color: v.$Cblanco;
  border: none;
  color: v.$Cnegro;
  display: grid;
  place-items: center;
  font-weight: v.$Fbold;
  &:hover {
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
