@use 'base/variables' as v;
@use 'components/util' as u;
@use "sass:math";
.header {
     background-color: v.$Cverde;
     @include u.tablet {
          &.fijo{
               position: fixed;
               left: 0;
               top: 0;
               width: 100%;
               box-shadow: .1rem .2rem .3rem rgb(51, 51, 51);
          }
     }
}

.contenido-header {
     padding: 2rem;
     @include u.tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

}
h1 {
     color: v.$Cblanco;
     text-align: center;
     @include u.tablet {
          text-align: left;
          margin: 0;
     }
}

.navegacion-principal {
     display: flex;
     gap: 2rem;
     flex-direction: column;
     align-items: center;
     @include u.tablet {
          flex-direction: row;
      }
     a {
          color: v.$Cblanco;
          font-size: 2.4rem;
          &:hover,
          &.active {
              color: v.$Camarillo;
          }
     }
}