@use 'base/variables' as v;
@use 'components/util' as u;
@use "sass:math";
.header {
     background-color: v.$Cverde;

     h1 {
          color: v.$Cblanco;
          margin-bottom: 1rem;
          @include u.tablet {
               margin-bottom: 0;
          }
     }
     &.fijo{
          position: fixed;
          width: 100%;
          box-shadow: 0 .3rem .4rem rgb(68, 68, 68);
     }
}

.contenido-header {
     padding: math.div(v.$Separacion,2) 0;
     @include u.tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

}

.navegacion-principal {
     display: flex;
     //gap: 2rem;
     justify-content: center;
     a {
          color: v.$Cblanco;
          font-size: 2rem;
          margin: 0 1rem;
          &:hover{
               color: v.$Camarillo;
          }
     }
}