@use "base/variables" as v;
@use "sass:math";
@use 'components/util' as u;
.lineup {
     background-color: v.$Crosa;
     padding: v.$Separacion 0;
 
     h3, p {
         text-align: center;
         color: v.$Cblanco;
     }
     .dia {
         text-transform: uppercase;
         margin: v.$Separacion 0;
     }
 
 }
 
 .escenarios-contenedor {
     @include u.tablet {
         @include u.Grid(2, v.$Separacion);
     }
 
     .escenario {
         padding-top: math.div(v.$Separacion , 2);
     }
 
     .escenario__nombre {
         color: v.$Cnegro;
         font-size: 2rem;
         font-weight: v.$Fdelgada;
 
         &:after {
             content: '';
             width: 20rem;
             height: 10rem;
             display: block;
             margin: 2rem auto 0 auto;
             background-size: 15rem;
             background-repeat: no-repeat;
             background-position: center center;
         }
     }
 }
 
 .edm .escenario__nombre {
     &:after {
         background-image: url('../assets/images/icono_edm.png');
     }
 }
 
 .rock .escenario__nombre {
     &:after {
         background-image: url('../assets/images/icono_rock.png');
     }
 }
 
 .calendario {
     padding: 0;
     list-style: none;
     li {
         padding: math.div(v.$Separacion , 2);
         font-weight: v.$Fbold;
         span {
             font-weight: v.$Fregular;
         }
     }
 }
 
 
 .bg-verde .calendario li:nth-child(odd) {
     background-color: darken(v.$Cverde, 10);
 }
 
 .bg-amarillo .calendario li:nth-child(odd) {
     background-color: darken(v.$Camarillo, 10);
 }