@use "base/variables" as v;
@use "sass:math";
@use 'components/util' as u;
.lineup {
     background-color: v.$Crosa;
     padding: v.$Separacion 0;
 
     h3, .dia {
         text-align: center;
         color: v.$Cblanco;
     }
     .dia {
         text-transform: uppercase;
         //margin: v.$Separacion 0;
         font-size: 3rem;
     }
 
 }
 
 .escenarios-contenedor {
    @include u.contenedor;
     @include u.tablet {
         @include u.Grid(2, v.$Separacion);
     }
    }
     .escenario {
         padding-top: 2rem;
         .escenario__nombre {
            font-size: 3rem;
            font-weight: v.$Fblack;
            text-transform: uppercase;
            text-align: center;
    
            &:after {
                content: '';
                width: 20rem;
                height: 10rem;
                display: block;
                margin: 2rem auto 0 auto;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
     }
 
 
 .edm .escenario__nombre {
     &:after {
         background-image: url('../img/icono_edm.avif');
     }
 }
 
 .rock .escenario__nombre {
     &:after {
         background-image: url('../img/icono_rock.avif');
     }
 }
 
 .calendario {
    @include u.resetear-lista;
     li {
         padding: math.div(v.$Separacion , 2);
         font-weight: v.$Fbold;
         span {
             font-weight: v.$Fregular;
         }
     }
 }
 
 .bg-amarillo {
    background-color: v.$Camarillo;
    li:nth-child(odd) {
        background-color: lighten(v.$Camarillo, 5%);
    }
}
.bg-verde {
    background-color: v.$Cverde;
    li:nth-child(odd) {
        background-color: lighten(v.$Cverde, 5%);
    }
}